
 <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" 
            aria-expanded="false" 
            class="navbar-toggle collapsed" 
            data-target="#navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/tasks">Tasks</a></li>
            <li><a routerLink="/flights">Flights</a></li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/profile">Profile</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

        <router-outlet></router-outlet>
    
    </div>

    
